<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div id="layoutSidenav_nav" th:fragment="side_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">국민연금</div>
          <a class="nav-link" href="index.html" th:href="@{/pension/portfolio/2022?page=0&size=10}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            년도별 비중 분석
          </a>
          <a class="nav-link" href="index.html" th:href="@{/pension/portfolio/quarter/2023-4분기?page=0&size=15}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            분기별 지분율 분석
          </a>
          <div class="sb-sidenav-menu-heading">회사</div>
          <a class="nav-link" href="index.html" th:href="@{/company/invest}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            회사 투자 정보
          </a>
          <div class="sb-sidenav-menu-heading">주식관련</div>
          <a class="nav-link" href="index.html" th:href="@{/stock}">
            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
            주식 조건 탐색기
          </a>

<!--          <div class="sb-sidenav-menu-heading">커뮤니티</div>-->
<!--          <a class="nav-link" href="#">-->
<!--            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--            관심 차트-->
<!--          </a>-->
<!--          <a class="nav-link" href="#">-->
<!--            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
<!--            건의 게시판-->
<!--          </a>-->
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">JINY</div>
        Temp Project
      </div>
    </nav>
  </div>


</body>
</html>