        .search {
            margin-left: 25px;
            margin-right: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .pagination {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .pagination li {
            margin-right: 10px;
        }

        .pagination li a {
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .pagination li .active {
            background-color: #ccc;
        }

        .table_title {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        #search {
            width: 270px;
        }
