<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard</title>
<!--        <link th:href="@{/css/company.css}" href="css/company.css" rel="stylesheet" />-->
        <link th:href="@{/css/styles.css}" href="css/styles.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/datatables-simple-demo.js}" src="js/datatables-simple-demo.js"></script>
        <script th:src="@{/js/scripts.js}" src="js/scripts.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="~{side/nav :: nav}"></nav>
            <div id="layoutSidenav">
            <div th:replace="~{side/side_nav :: side_nav}"></div>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h2 class="mt-4">국민연금 포트폴리오 년도별 비중 증감 순위</h2>

                            <div class="card mb-4">
                                <div class="card-body">
                                    국내주식 전년도 대비 자산군 내 비중을 가장 많이 늘린 순위를 보여줍니다. <br>
                                    매년 국민연금이 어떤 기업을 주시하고 있는지 참고할 수 있습니다.
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    <select onchange="location = this.value;">
                                        <option th:each="num : ${yearList}"
                                                th:value="'/pension/portfolio/'+${num}"
                                                th:text="${num}"
                                                th:selected="${num} == ${year}">
                                        </option>
                                    </select>
                                    비중 증가 순위
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                        <tr>
                                            <th>회사명</th>
                                            <th>전년도 지분율</th>
                                            <th>현재 지분율</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="investInfo : ${investInfoList}">
                                            <td th:text="${investInfo.corporationName}">회사이름</td>
                                            <td th:text="${investInfo.beforeShareInAsset}">전년도 지분</td>
                                            <td th:text="${investInfo.currentShareInAsset}">현재 지분율</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            </div>
                        </div>
                    </footer>
                </div>

            </div>
<!--            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>-->
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>

    </body>

</html>
